body {
    margin: 0;
    padding: 0;
    background-color: #b6aba4;
}

footer {
    width: 100%;
}


/* NAVIGATION */

/* #region Navigation */

.nav-bar-background {
    background-color: #8daeb6;
    height: 15vh;
}

.navigation-bar {
    width: 90%;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 5%;
}

.navigation-bar a {
    color: white;
    font-family: "Seaweed Script", cursive;
    font-size: 1.7vw;
    text-decoration: none;
}

.nav-bar-buttons {
    background-color: #2b658f;
    width: 8vw;
    padding: 0.5vw;
    margin: 1vw;
    margin-top: 2%;
    box-shadow: 0px 0px 5px rgb(0, 0, 56);
}

.nav-bar-buttons:hover {
    background-color: #f0fae5;
}

.nav-bar-buttons a:hover {
    color: #000417;
}

/* #endregion */


/* FONTS */

/* #region FONTS */
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
}

.seaweed-script-regular {
  font-family: "Seaweed Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.gamja-flower-regular {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* #endregion */



/* HOME */

    /* #region Containers */

#home-body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #000417, #b6aba4 50%);
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#home-part-one {
  position: relative;
  width: 100%;
}

#home-part-two{
    display: flex;
    flex-direction: column;
}

#home-header-container {
    height: auto; 
    max-height: 90vh;
    position: relative; 
}

#home-color-fade1 {
    background-color: rgba(0, 0, 41, 0.977);
    width: 100%;
    height: 10vh;
    opacity: 0.6;
    margin-top: 0%;
    position: relative;
    z-index: -1;
}

#home-color-fade2 {
    background-color: rgba(0, 0, 41, 0.264);
    width: 100%;
    height: 10vh;
}

#home-body-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* #endregion */

    /* #region Navigation */

#home-navigation-bar {
    display: flex;
    font-size: 2vw;
    max-width: 70%;
    margin-left: 30%;
    justify-content: center;
    gap: 3vw;
}

#home-nav-bar-background {
    width: 100%;
    background-color: rgb(0, 0, 41);
    height: 10vh;
}

#home-nav-buttons {
    margin-right: 2%;
}

#home-nav-buttons :hover {
    background-color: #2a4e6998;
    border-radius: 5%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

#home-navigation-bar a {
    color: white;
    text-decoration: none;
    font-family: "Seaweed Script", cursive;
    font-size: 2.5vw;
}

/* #endregion Navigation */

    /* #region Images */

#home-header-img {
    width: 100%;
    display: block;
    max-height: 90vh;
}

#home-logo-img {
    max-width: 30%;
    border-radius: 50%;
    position: absolute; 
    bottom: -10%; 
    left: 1%;
}

#home-page-img {
    margin-top: 15%;
    margin-bottom: 15%;
    box-shadow: 0px 0px 10px #000417;
    margin-right: 2vw;
    max-width: 27vw;
    height: auto;
}

/* #endregion Images */

    /* #region Text */

#home-header-slogan {
    color: white;
    font-family: "Island Moments", cursive;
    position: absolute; 
    left: 17%;
    top: 15%;
    font-size: 6vw;
    z-index: 10;
    text-shadow: 2px 2px 2px #000417;
}

#home-island-name{
    color: rgb(255, 255, 255);
    font-family: "Seaweed Script", cursive;
    font-size: 3vw;
    position: absolute; 
    left: 9%;
    top: 82%;
    text-shadow: 1px 1px 1px #000417;
}

#home-page-content {
    width: 26vw;
    padding: 3%;
    line-height: 5vh;
    font-family: 'Gamja Flower';
    font-size: 1.7vw;
    margin-top: 15%;
}

/* #endregion Text */


/* DINING */

/* #region Containers */ 

#dining-body-container {
    display: flex;
    background-color: #b6aba4;
    max-width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 30px;
    margin-top: 3%;
}

#dining-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

#dine-out-container {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    background-color: #faf8f8;
    border-radius: 5%;
    box-shadow: 0px 0px 10px #000417;
}

#dine-in-container {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    background-color: #faf8f8;
    border-radius: 5%;
    box-shadow: 0px 0px 10px #000417;
}

#dining-out-header {
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#dining-in-header {
    text-align: center;
    max-width: 80%;
    margin: auto;
}

#dining-in-content {
    margin-left: 3%;
}

#dining-out-content {
    margin-left: 3%;
}

.dining-sections {
    display: flex;
    max-width: 90%;
    margin-bottom: 5%;
    align-items: center;
}

/* #endregion */

/* #region Text */

#dining-h1 {
    color: white;
    font-family: "Seaweed Script", cursive;
    font-size: 4vw;
    text-shadow: 2px 2px 2px #000417;
}

#dine-out-h2 {
    color: rgb(63, 47, 45);
    font-size: 2vw;
}

#dine-in-h2 {
    color: rgb(63, 47, 45);
    font-size: 2vw;
}

.dining-text {
    color: rgb(63, 47, 45);
    font-size: 1.5vw;
    font-family: 'Gamja Flower';
}

#dining-body h3 {
    font-family: 'Seaweed Script';
    font-size: 2vw;
    margin: 1%;
}

#dining-body h4 {
    font-size: 1.6vw;
    font-family: 'Gamja Flower';
    margin-left: 5%;
    margin-top: 10%;
}

/* #endregion Text */

/* #region Images */

#dine-out-container img {
    max-width: 40%;
}

#dine-in-container img {
    max-width: 50%;
}

#dining-body img {
    border-radius: 15%;
    box-shadow: 0px 0px 5px black;
}

#dining-fun-img {
    border-radius: 50% !important;
    border: 3px solid black;
    margin-left: 58%;
}

#dining-recipe-img {
    border-radius: 50% !important;
    border: 3px solid black;
    margin-left: 48%;
}
/* #endregion Images */


/* LODING */

/* #region Sections */

#hostels, #hotels, #bed-breakfasts {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    align-items: center;
}

#lodging-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lodging-sections {
    max-width: 90%;
    margin-bottom: 10%;
}

#lodging-background {
    background-color: white;
    padding: 3%;
    padding-top: 0.1%;
    box-shadow: 2px 2px 10px black;
}

/* #endregion Sections */

/* #region Images */


#hostel-img {
    max-width: 50%;
    box-shadow: 0px 0px 10px  white;
}

#hotel-img {
    max-width: 30%;
    box-shadow: 0px 0px 10px  white;
}

#bed-breakfasts img {
    max-width: 25%;
    box-shadow: 0px 0px 10px  white;
}

#lodging-background img {
    max-width: 40%;
    max-height: 70vh;
    border-radius: 10%;
    box-shadow: 0px 0px 10px black;
}

/* #endregion Images */

/* #region Text */

#lodging-sections h2 {
    color: white;
    font-size: 3vw;
    margin-left: 2%;
    max-width: 30%;
    text-shadow: 2px 2px 2px black;
}

#lodging-h1 {
    color: white;
    font-family: "Island Moments", cursive;
    font-size: 4vw;
    max-width: 40%;
    margin-bottom: 1%;
}

#lodging-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lodging-text {
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Gamja Flower';
}

#lodging-background h2 {
    font-family: 'Pacifico';
    font-size: 2vw;
}

#lodging-background p {
    font-family: 'Gamja Flower';
    font-size: 1.4vw;
}

/* #endregion Text */


/* ACTIVITIES */

/* #region Sections */
#turtle-beach-section {
    display: flex;
    justify-content: right;
    margin-top: 5%;
    align-items: center;
}

#activities-right {
    margin-right: 10%;
}

#rainforest-section {
    display: flex;
    margin-top: 2%;
    align-items: center;
}

#activities-bottom-grid {
    margin-top: 5%;
    margin-left: 5%;
}

#activities-bottom {
    display: flex;
    align-items: center;
}

#volcano-section {
    display: flex;
    justify-content: right;
    margin-top: 2%;
    align-items: center;
}

/* #endregion Sections */

/* #region Text */

#turtle-beach-text {
    margin-right: 5%;
    text-align: center;
    max-height: 20%;
}

#activities-header {
    font-size: 3vw;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    margin-top: 5%;
    margin-bottom: 7%;
}

#rainforest-text {
    margin-left: 5%;
    text-align: center;
    max-height: 20%;
}

#activities-list {
    background-color: white;
    border-radius: 15%;
    padding: 2%;
}

#volcano-text {
    margin-right: 5%;
    text-align: center;
    max-height: 20%;
}

#act-header-text {
    color: black;
    font-weight: bold;
    font-family: 'Gamja Flower';
    font-size: 1.6vw !important;

}

#act-text-list {
    font-size: 1.3vw;
    font-family: 'Gamja Flower';
    text-align: right;
    margin-right: 15%;
}

#landing-text {
    font-size: 1.7vw;
    font-family: 'Gamja Flower';
    max-width: 80%;
    text-align: center;
    margin-bottom: 25%;
    color: white;
    text-shadow: 2px 2px 2px black;
}

/* #endregion Text */

/* #region Images */ 

#activities-bottom-grid img {
    max-width: 30%;
    max-height: 60vh;
    border-radius: 2%;
    box-shadow: 0px 0px 1px 1px black;
}

/* #endregion Images */ 


/* TRANSPORT */

/* #region Sections */

#air-travel-content {
    display: flex;
    justify-content: right;
    margin-right: 3%;
    align-items: center;
    margin-bottom: 10%;
}

#transport-white-block {
    background-color: white;
    box-shadow: 0px 0px 10px 5px grey;
    overflow: auto;
    margin-bottom: 10%;
}

#transport-grid {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 50%;
    gap: 4%; 
    margin-left: 6%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: "Gamja Flower", sans-serif;
}

#walkable-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#walkable-content {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#walkable-text-link {
    display: flex;
    justify-content: center;
}

#ground-transport, #private-transport, #rental-transport, #green-transport {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #endregion Sections */

/* #region Text */

#transport-header h1 {
    font-size: 4vw;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: 6%;
    margin-left: 3%;
    font-family: "Pacifico", cursive;
}

#air-travel-text {
    max-width: 40%;
    font-family: "Gamja Flower", sans-serif;
    font-size: 1.4vw;
}

#air-travel-h2 {
    text-align: right;
    margin-right: 3%;
    font-family: "Seaweed Script", cursive;
    color: white;
    text-shadow: 2px 1px 2px black;
    font-size: 2.2vw;
}

#transport-grid h3 {
    font-size: 1.5vw;
}

#transport-grid h4 {
    font-size: 1.3vw;
}
#transport-grid p {
    font-size: 1.4vw;
    max-width: 70%;
}

#walkable-text {
    max-width: 60%;
    padding: 1%;
    border-radius: 15%;
    font-family: "Gamja Flower", sans-serif;
    font-size: 1.5vw;
    text-align: center;
}

#rental-url {
    color: blue;
    text-decoration: underline;
}

#merriton-landing-url {
    color: white;
    text-decoration: none;
    font-size: 2vw;
    font-family: "Seaweed Script", cursive;
}

/* #endregion Text */

/* #region Images */

#transport-grid img {
    max-width: 60%;
    max-height: 40vh;
    border-radius: 5%;
    box-shadow: 0px 0px 10px black;
}

#air-travel img {
    max-width: 30%;
    margin-left: 5%;
    border-radius: 5%;
    box-shadow: 0px 0px 10px black;
}

#walkable-img {
    border-radius: 5%;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 5%;
    max-width: 70%;
}

/* #endregion Images */


/* FAQ */

/* #region FAQ */

#FAQ-section {
    font-size: 2.5vw;
    max-width: 50%;
    margin: auto;
    margin-bottom: 25%;
    color: white;
    font-family: "Gamja Flower", sans-serif;
    line-height: 200%;
}

#FAQ-body {
        display: flex;
        flex-direction: column;
}

#FAQ-header {
    background-color: white;
    font-size: 2.7vw;
    text-align: center;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6%;
    margin-top: 5%;
}

#FAQ-section p {
    font-size: 2vw;
    color: black;
}

/* #endregion FAQ */



/* MEDIA QUERIES */


/* #region UNDER 1300PX */
@media (max-width: 1300px) {    

    /* Home */

    #home-island-name {
        top: 85%;
    }

    #home-header-slogan {
        top: 20%;
    }

    /* #region Transport */

    #transport-grid h3 {
    font-size: 1.7vw;
}

    #transport-grid h4 {
        font-size: 1.6vw;
    }

    #transport-grid p {
        font-size: 1.6vw;
        max-width: 70%;
    }   

    #walkable-text {
        font-size: 2vw;
    }

    #air-travel-text {
        font-size: 2vw;
    }

    /* #endregion Transport */

}

/* #endregion UNDER 1300PX */

/* #region UNDER 1090PX */

@media (max-width: 1090px) {     

    /* Nav */

    .navigation-bar a {
        font-size: 2.3vw;
    }

    /* Home */

    #home-page-content {
        margin-top: 10%;
    }

    #home-island-name {
        top: 87%;
    }

    /* Activities */

    #act-header-text {
        font-size: 2vw !important;
    }

    #activities-top p {
        font-size: larger;
    }

    #landing-text {
        font-size: 2.5vw;
        margin-bottom: 10%;
    }

    #act-text-list {
        font-size: larger;
    }

    /*Other */

    .dining-text, #dining-body h4 {
        font-size: larger;
    }


    #lodging-text {
        font-size: larger;
    }


    #FAQ-header {
        font-size: 4vw;
    }

    #FAQ-section {
        font-size: 3vw;
        margin-top: 10%;
    }


    /* #region Transport */

    #air-travel-text {
        font-size: larger;
    }

    #air-travel h2 {
        font-size: 3vw;
    }

    #transport-grid h3{
        font-size: 2.3vw;
    }

    #transport-grid h4{
        font-size: 1.8vw;
    }

    #transport-grid p {
        font-size: 2vw;
    }

    #walkable-text {
        font-size: 2.5vw;
    }

    #transport-grid {
        gap: 1px;
        grid-template-columns: 45% 45%;
        margin-left: 5%;
    }

    #air-travel-img {
        max-width: 40% !important;
    }

    /* #endregion Transport */

}

/* #endregion UNDER 1090PX */

/* #region UNDER 750PX */

@media (max-width: 750px) {      

    /* Nav */

    .navigation-bar a {
        font-size: 3vw;
    }

    .nav-bar-buttons {
        width: 90%;
    }

    /* Home */

    #home-nav-bar-background {
        height: 8vh;
    }

    #home-page-content {
        font-size: 3vw;
        margin-top: 10%;
        width: 40vw;
        padding: 2%;
    }

    #home-page-img {
        max-width: 40vw;
    }

    /* Activities */

    #act-header-text {
        font-size: 3vw !important;
    }

    #landing-text {
        max-width: 100%;
    }


    /* #region Transport */

    #transport-grid {
        grid-template-columns: 50% 50%;
    }

    #air-travel-h2 {
        font-size: 5vw !important;
        text-align: left;
        margin-top: 10%;
        margin-left: 5%;
    }

    #transport-header h1 {
        font-size: 7vw;
    }

    #transport-grid h3{
            font-size: 3vw;
    }

    #transport-grid h4{
        font-size: 2.7vw;
    }

    #transport-grid p {
        font-size: 2.7vw;
    }

    #walkable-text {
        font-size: 4vw;
        max-width: 100%;
    }

    #merriton-landing-url {
        font-size: 4vw;
    }

    #walkable-img {
        max-width: 130%;
    }

    /* #endregion Transport */

    /* Other */

    #FAQ-section {
        font-size: 4vw;
        margin-top: 10%;
        max-width: 85%;
    }

    #lodging-h1 {
        font-size: 6vw;
    }

    #FAQ-section p {
        font-size: 3vw;
    }
}

/* #endregion UNDER 750PX */

/* #region UNDER 500PX */

@media (max-width: 500px) {    

    /* #region Nav */

    .nav-bar-buttons {
        width: 80%;
    }

    .nav-bar-buttons a {
        font-size: 5vw;
    }

    /* #endregion Nav */

    /* #region Home */

    #home-navigation-bar a {
        font-size: 2.8vw;
    }

    #home-island-name {
        font-size: 3.5vw;
        left: 7%;
    }

    #home-body-content {
        flex-direction: column;
        align-items: center;
    }   

    #home-page-content {
        font-size: 5vw;
        margin-top: 0%;
        width: 80%;
        padding: 0%;
        margin-bottom: 10%;
    }

    #home-page-img {
        max-width: 70%;
        margin-top: 30%;
    }

    /* #endregion Home */

    /* #region Dining */

    #dining-body-container {
        flex-direction: column;
    }

    #dine-out-container {
        max-width: 85%;
        margin: auto;
    }

    #dine-in-container {
        max-width: 85%;
        margin: auto;
    }

    #dine-out-container h3 {
        font-size: larger;
    }

    #dine-in-container h3 {
        font-size: larger;
    }

    #dining-body-container h2 {
        font-size: 8vw;
    }

    #dining-h1 {
        font-size: 7vw;
    }

    /* #endregion Dining */

    /* #region Activities */
    #act-header-text {
        font-size: 4vw !important;
    }

    #landing-text {
        font-size: larger;
    }
    
    #activities-header {
        font-size: 5vw;
    }

    #activities-right {
        margin-right: 0;
    }

    #activities-bottom-grid {
        max-width: 80%;
        margin-left: 25%;
    }

    #activities-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #activities-bottom-grid img {
        max-width: 35%;
    }

    /* #endregion Activities */

    /* #region Transport */

    #air-travel-content {
        flex-direction: column;
        width: 100%;
    }

    #air-travel-h2 {
        font-size: 5vw !important;
    }

    #transport-grid h3{
        font-size: 4vw;
    }

    #transport-grid h4{
        font-size: 3.7vw;
    }

    #transport-grid p {
        font-size: 3.8vw;
    }

    #walkable-text {
        font-size: 5vw;
    }

    #rental-url {
        font-size: smaller;
    }

    #air-travel-text {
        max-width: 90vw;
    }

    #air-travel img {
        max-width: 60% !important;
    }

    /* #endregion Transport */

    /* #region Other */

    #FAQ-section {
        font-size: 5vw;
        margin-bottom: 100%;
    }

    #lodging-sections h2 {
            font-size: larger;
    }

    #FAQ-section p {
        font-size: 4vw;
    }

    /* #endregion Other */

}

/* #endregion UNDER 500PX */



