/* FONTS */
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
}

.seaweed-script-regular {
  font-family: "Seaweed Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.gamja-flower-regular {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
}





a {
    color: white;
    font-family: "Seaweed Script", cursive;
    text-decoration: none;
    font-size: 1.7vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: #b6aba4;
    Height: 200vh;
}


/* GENERAL NAV */

.nav-bar-background {
    background-color: #8daeb6;
    width: 100%;
    height: 15vh;
    position: absolute;
}

.navigation-bar {
    width: 75%;
    height: 4vh;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-buttons {
    background-color: #2b658f;
    width: 8vw;
    padding: 0.5vw;
    margin: 1vw;
    box-shadow: 0px 0px 5px rgb(0, 0, 56);
}

.nav-bar-buttons:hover {
    background-color: #5e8435;
}





/* HOME PAGE */

/* Header*/

#header-container {
    position: relative;
    max-height: 80vh;
    min-height: 60vh;
    width: 100%;
}

#home-header-img {
    max-height: 80vh;
    min-height: 60vh;
    width: 100%;
}

#header-slogan {
    color: white;
    font-family: "Island Moments", cursive;
    font-size: 6vw;
    position: absolute;
    top: 17%;
    left: 19%;
    text-shadow: 2px 2px 2px #000417;
}

#home-logo-img {
    border-radius: 50%;
    width: 18vw;
    position: absolute;
    top: 75%;
    left: 1%;
    opacity: 60%;
}

#header-island-name {
    position: absolute;
    font-size: 2.5vw;
    top: 80%;
    left: 4%;
    color: white;
    font-family: "Seaweed Script", cursive;
}


/* Nav */

#home-nav-bar-background {
    background-color: #000417;
    width: 100%;
    height: 30vh;
}

#home-navigation-bar {
    width: 75%;
    height: 4vh;
    text-align: center;
    position: absolute;
    top: 88%;
    left: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-nav-buttons {
    background-color: #2b658f;
    width: 8vw;
    padding: 0.5vw;
    margin: 1vw;
}

#home-nav-buttons:hover {
    background-color: #5e8435;
}


/* Body */

#color-fade1 {
    background-color: #2b658f52;
    position: absolute;
    top: 100%;
    width: 99vw;
    height: 20vh;
}

#color-fade2 {
    background-color: #2b658f37;
    position: absolute;
    top: 105%;
    width: 99vw;
    height: 30vh;
}


#home-page-img {
    max-width: 27vw;
    height: auto;
    box-shadow: 0px 0px 10px #000417;
}

#home-page-content {
    width: 26vw;
    padding: 5%;
    line-height: 5vh;
    font-family: 'Gamja Flower';
}

#body-content {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    padding: 5%;
    font-size: 1.7vw;
}






/* DINING PAGE */


/* Headers */

#dining-h1 {
    color: white;
    font-family: "Seaweed Script", cursive;
    font-size: 4vw;
    text-shadow: 2px 2px 2px #000417;
    position: absolute;
    top: 4%;
    left: 27%;
}

.dining-h2 {
    color: rgb(63, 47, 45);
    font-size: 2vw;
    position: absolute;
    display: flex;
    top: 30%;
    left: 20%;
    width: 100%;
}


/* Body */

#dining-body-container {
    display: flex;
    padding: 5%;
}


/* Dining Out */

#dine-out-container {
    width: 45vw;
    height: 160vh;
    background-color: #faf8f8;
    margin-top: 10%;
    border-radius: 3%;
    box-shadow: 0px 0px 10px #000417;
}

#dining-out-main-content {
    margin-top: 10%;
}

.dining-out-sections {
    display: flex;
    padding: 4%;
    margin-top: 10%;
}


/* Text/Headers */

#dine-out-text h3 {
        position: relative;
        left: -25%;
        top: 15%;
        font-family: 'Seaweed Script';
        font-size: 2vw;
}

#dining-out-main-content h4 {
    font-size: 2vw;
    position: relative;
    left: -20%;
}

#dine-out-h2 {
    margin-right: 35%;    
}

#dine-out-text {
    color: rgb(63, 47, 45);
    font-size: 1.5vw;
    position: absolute;
    top: 35%;
    left: 14%;
    width: 30vw;
    height: 160vh;
    font-family: 'Gamja Flower';
}

#dine-out-text p {
    transform: translate(0%, -20%);
}


/* Images */

#dine-out-text img {
    max-width: 30vw;
    max-height: 23vh;
    position: relative;
    left: -30%;
}

#dining-fun-img {
    position: relative;
    margin-left: 85%;
    border-radius: 20%;
    border: 3px solid black;
    box-shadow: 0px 0px 5px black;
}

.dining-out-sections img {
    box-shadow: 0px 0px 10px black;
}


/* Dining In */

#dine-in-container {
    width: 45vw;
    height: 160vh;
    background-color: #faf8f8;
    margin-top: 10%;
    margin-left: 2%;
    border-radius: 3%;
    box-shadow: 0px 0px 10px #000417;
}

.dining-in-sections {
    display: flex;
    padding: 4%;
    margin-top: 10%;
}

/* Text/Headers */

#dine-in-text {
    color: rgb(63, 47, 45);
    font-size: 1.5vw;
    position: absolute;
    top: 5%;
    left: 59%;
    width: 30vw;
    height: 160vh;
    font-family: 'Gamja Flower';
}

#dine-in-text p {
    position: relative;
    top: 17%;
}

#dine-in-text h3 {
    position: relative;
    left: -22%;
    top: 32%;
    font-family: 'Seaweed Script';
    font-size: 2vw;
}

#dining-in-main-content h4 {
    font-size: 1.5vw;
    position: relative;
    left: -20%;
}

/* Images */
    
#dining-recipe-img {
    border-radius: 50%;
    position: relative;
    top: 81%;
    margin-left: 120%;
    border: 3px solid black;
    box-shadow: 0px 0px 5px black;
}

.dining-in-sections img {
    box-shadow: 0px 0px 10px black;
}

#dine-in-text img {
    max-width: 25vw;
    max-height: 23vh;
    position: relative;
    left: -30%;
}







/* LODGING PAGE */


#lodging-sections img{
    max-width: 50vw;
    max-height: 80vh;
    margin-right: 7%;
    box-shadow: 0px 0px 10px  white;
}

#lodging-sections {
    width: 75vw;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-left: 8%;
}

#lodging-sections h2 {
    text-align: center;
    margin: auto;
}

#lodging-header {
    font-size: 4vw;
    text-align: center;
    color: white;
    font-family: 'Island Moments';
}

#lodging-text {
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Gamja Flower';
}

#hostels {
    display: flex;
    padding: 2%;
}

#hotels {
    display: flex;
    padding: 2%;
}

#bed-breakfasts {
    display: flex;
    padding: 2%;
}
    

/* ACTIVITIES PAGE */

#turtle-beach-section {
    display: flex;
}

#rainforest-section {
    margin-left: 3%;
    display: flex;
}

#volcano-section {
    transform: translate(0%, -15%);
}

#activitivies-bottom-grid {
    display: flex;
}

#activities-list {
    transform: translate(2%, -20%);
    font-size: 1.3vw;
    font-family: 'Gamja Flower';
}

#white-background {
    background-color: white;
    padding: 3%;
    height: 180vh;
}

/* Text/Headers */

#activities-header {
    font-size: 3.5vw;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    height: 20vh;
    margin-top: 5%;
}

#act-p {
    font-size: 1.5vw;
    color: black;
    font-weight: bold;
    font-family: 'Gamja Flower';
    transform: translate(-2%, -120%);
}

#activities-top h2 {
    font-family: 'Pacifico';
}

#activities-top p {
    font-family: 'Gamja Flower';
}

#turtle-beach-text {
    position: relative;
    transform: translate(120%, 20%);
    text-align: center;
    font-size: larger;
}

#rainforest-text {
    transform: translate(30%, 30%);
    font-size: larger;
    text-align: center;
}

#volcano-text {
    position: relative;
    transform: translate(-10%, 270%);
    text-align: center;
    font-size: larger;
}

#landing-text {
    color: white;
    transform: translate(1%, 300%);
    font-size: 1.6vw;
    font-family: 'Gamja Flower';

}

#text-list {
    transform: translate(0%, -30%);
    font-size: 1.3vw;
}

/* Images */

#activities-top img {
    max-width: 40vw;
    max-height: 60vh;
    border-radius: 10%;
    box-shadow: 0px 0px 10px black;
}

#activities-bottom img {
    max-width: 20vw;
    max-height: 50vh;
}

#turtle-beach-img {
    position: relative;
    left: 33%;
}

#volcano-img {
    position: relative;
    left: 56%;
}

#helicopter-img {
    margin-left: 0.5%;
    border-radius: 5%;
    box-shadow: 0px 0px 10px black;
}

#activities-bottom img.merriton-landing-img {
    max-height: 50vh;
    max-width: 50vw;
    transform: translate(450%, 0%);
    border-radius: 5%;
    box-shadow: 0px 0px 10px black;
}

#activities-bottom-images {
    display: grid;
}

#activities-bottom-images img {
    border-radius: 5%;
    box-shadow: 0px 0px 10px black;
}

#activities-bottom-grid img {
    margin-left: 2%;
    margin-bottom: 2%;
}













/* TABLET ADJUSTMENTS */

@media (max-width: 1280px) {

    /* HOME PAGE */

    #header-container {
        max-height: 60vh;
    }

    #header-slogan {
        top: 30%;
    }

    #home-nav-bar-background {
        height: 16vh;
        top: -5%;
    }

    #home-logo-img {
        top: 59%;
        width: 25vw;
    }

    #header-island-name {
        top: 60%;
        left: 4%;
        font-size: 4vw;
    }

    #home-nav-buttons {
        width: 60vw;
    }

    #home-navigation-bar {
        top: 71%;
        width: 100%;
        left: 0%;
    }

    #color-fade1 {
        top: 75%;
        height: 7vh;
        width: 100%;
    }

    #color-fade2 {
        top: 76%;
        width: 100%;
        height: 10vh;
    }

    #home-page-img {
        max-width: 45vw;
        height: auto;
        transform: translate(0%, 8%);
    }

    #home-page-content {
        font-size: 2.5vw;
        width: 40vw;
    }


    /* OTHER PAGES */

    a {
        font-size: 4vw;
    }

    .nav-bar-buttons {
        width: 20vw;
    }

    .navigation-bar {
        left: 13%;
    }

    .nav-bar-background {
        bottom: -160%;
        height: 12vh;
    }


    /* DINING PAGE */

    #dining-h1 {
        font-size: 5vw;
        top: -0.5%;
        left: 23%;
    }

    .dining-h2 {
        top: 10%;
        font-size: 2.5vw;
        left: 17%;
    }


    /* Dine Out */

    /* Text/Headers */

    #dine-out-h2 {
        transform: translate(18%, 0%);
    }

    #dine-out-text p {
        transform: translate(-5%, -25%);
        font-size: 3.75vw;
    }

    #dine-out-text h3{
        font-size: 3.5vw;
        top: 22%;
        left: -50%;
    }

    #dining-out-main-content h4 {
        font-size: 3.5vw;
    }

    #dine-out-text {
        top: 20%;
        font-size: 3vw;
        text-align: center;
    }


    .dining-out-sections {
        padding: 10%;
    }

    #dining-out-main-content {
        margin-top: 30%;
        margin-left: -10%;
    }

    #dining-nav-bar {
        bottom: -100%;
    }


    #dining-fun-img {
        transform: translate(-45%, 30%);
    }

    /* Dine In */

    /* Text/Headers */

    #dine-in-text {
        top: -7%;
        font-size: 3vw;
        text-align: center;
    }

    #dine-in-text p {
        transform: translate(0%, -25%);
        font-size: 4vw;
    }

    #dine-in-text h3{
        font-size: 3.5vw;
        top: 38%;
        left: -45%;
    }

    #dining-in-main-content h4 {
        font-size: 3.5vw;
    }


    .dining-in-sections {
        padding: 1%;
    }

    #dining-in-main-content {
        margin-top: 25%;
        margin-left: 5%;
    }

    /* Images */

    #dining-in-main-content img {
        max-width: 22vw;
    }

    #dining-recipe-img {
        transform: translate(-70%, -20%);
    }





    /* LODGING PAGE */

    #hostels {
        padding: 5%;
    }

    #hotels {
        padding: 5%;
    }

    #bed-breakfasts {
        padding: 5%;
    }

    #lodging-nav-bar {
        bottom: -105%;
    }



    /* Headers/Text */

    #lodging-header {
        font-size: 10vw;
    }

    #lodging-text {
        font-size: 5vw;
    }

    #lodging-sections h2 {
        font-size: 5vw;
    }
    

    /* ACTIVITIES PAGE */

    #activities-top {
        font-size: 3vw;
    }

    #turtle-beach-section {
        transform: translate(-32%, 0%);
        font-size: smaller;
    }

    #rainforest-section {
        transform: translate(-4%, 20%);
        font-size: smaller;
    }

    #volcano-section {
        transform: translate(-8%, 10%);
        font-size: smaller;
    }

    #white-background {
        height: 120vh;
    }

    #activities-list {
        transform: translate(2%, -5%);
    }

    /* Text/Headers */

    #activities-header {
        font-size: 5vw;
        height: 10vh;
        margin-top: 10%;
    }

    #activities-top h2{
        font-size: 4vw;
    }

    #act-p {
        font-size: 3vw;
    }

    #text-list {
        font-size: 2.5vw;
    }

    #landing-text {
        font-size: 2.5vw;
    }

    #turtle-beach-text {
        transform: translate(70%, 0%);
    }

    #rainforest-text {
        transform: translate(10%, 20%);
    }

    #volcano-text {
        transform: translate(-19%, 160%);
    }

    /* Images */

    #activities-top img {
        max-width: 50vw;
        max-height: 45vh;
    }

    #activities-bottom img.merriton-landing-img {
        max-height: 30vh;
        max-width: 40vw;
        transform: translate(260%, 30%);
    }

    #helicopter-img {
        transform: translate(0%, 10%);
    }

    #activities-bottom-grid img {
        margin-left: 2%;
        margin-bottom: 2%;
    }



}    
    








/* MOBILE ADJUSTMENTS */

@media (max-width: 767px) {

    a {
        font-size: 4.5vw;
    }


    /* HOME PAGE*/

    /* Header */

    #header-container {
        max-height: 60vh;
    }

    #header-slogan {
        top: 35%;
    }

    #home-logo-img {
        top: 59%;
        width: 28vw;
    }

    #header-island-name {
        top: 60%;
        left: 5%;
        font-size: 4vw;
    }

    #home-nav-buttons {
        width: 60vw;
    }

    #home-navigation-bar {
        top: 67%;
        width: 100%;
        left: 0%;
    }

    #home-nav-bar-background {
        height: 13vh;
    }

    /* Body */

    #color-fade1 {
        top: 69%;
        height: 7vh;
        width: 100%;
    }

    #color-fade2 {
        top: 71%;
        width: 100%;
        height: 10vh;
    }

    #home-page-img {
        max-width: 98vw;
        height: auto;
    }

    #body-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40%;
        padding: 1%;
        font-size: 1.7vw;
        align-items: center;
    }

    #home-page-content {
        width: 70%;
        line-height: 3vh;
        font-family: 'Gamja Flower';
        font-size: 4vw;
        text-align: center;
        margin-top: 8%;
    }


    /* OTHER PAGES NAV */

    .nav-bar-background {
        height: 10vh;
        bottom: -100vh;
    }

    .navigation-bar {
        width: 100%;
        left: 0%;
    }

    .nav-bar-buttons {
        width: 15vw;
    }



    /* DINING PAGE */

    #dining-body-container {
        flex-direction: column;
    }

    /* Text/Headers */

    #dining-h1 {
        font-size: 8vw;
        left: 7%;
        top: 5%;
    }

    .dining-h2 {
        font-size: 5vw;
        display: flex;
        flex-direction: column;
    }

    /* Dine Out */

    #dine-out-container {
        margin-top: 50%;
        margin-bottom: 7%;
        width: 90vw;
        height: 80vh;
    }

    /* Text/Headers */

    #dine-out-h2 {
        transform: translate(30%, 100%);
    }

    #dine-out-text {
        margin-left: 2%;
        margin-top: 5%;
    }

    #dine-out-text p {
        font-size: 5vw;
        width: 70vw;
        text-align: center;
        transform: translate(0%, -10%);
    }

    #dine-out-text h3 {
        font-size: 5vw;
        transform: translate(5%, -740%);
    }

    #dining-out-main-content h4 {
        font-size: 5.4vw;
    }

    /* Images */

    #dining-fun-img {
        transform: translate(90%, -120%);
    }



    /* Dine In */

    #dine-in-container {
        margin-left: 0%;
        width: 90vw;
        height: 80vh;
    }

    #dining-in-main-content {
        transform: translate(-35%, 210%);
        width: 80vw;
    }

    .dining-in-sections {
        padding: 1%;
    }

    /* Text/Headers */

    #dine-in-h2 {
        transform: translate(21%, 1050%);
    }

    #dine-in-text p {
        font-size: 5.5vw;
        width: 80vw;
        text-align: center;
        transform: translate(-60%, 820%);
    }

    #dining-in-main-content h4 {
        font-size: 5.5vw;
    }

    /* Images */

    #dining-recipe-img {
        transform: translate(-80%, 210%);
    }



    /* LODGING */

    #lodging-body {
        height: 100vh;
    }

    #hostels {
        padding: 5%;
    }

    #hotels {
        padding: 5%;
    }

    #bed-breakfasts {
        padding: 5%;
    }

    #lodging-nav-bar {
        bottom: -15%;
    }


    /* ACTIVITIES */

    #activities-header {
        font-size: 5vw;
        transform: translate(0%, 20%);
    }

    #act-p {
        font-size: 4.5vw;
        width: 50vw;
        transform: translate(0%, -30%);
    }

    #turtle-beach-text {
        font-size: 5vw;
        text-align: center;
        transform: translate(32%, 0%);
        margin-top: 10%;
    }

    #rainforest-text {
        font-size: 5vw;
        text-align: center;
        transform: translate(0%, -320%);
    }

    #volcano-text {
        font-size: 5vw;
        text-align: center;
        transform: translate(7%, 70%);
    }

    #landing-text {
        font-size: 5vw;
        transform: translate(5%, 0%);
    }

    #text-list {
        font-size: 4.5vw;
    }




    #turtle-beach-section {
        flex-direction: column;
    }

    #rainforest-section {
        flex-direction: column;
    }

    #white-background {
        height: 110vh;
    }

    #activities-list {
        transform: translate(2%, 20%);
    }

    #act-nav-bar {
        bottom: -155%;
    }

    #activities-bottom-images {
        gap: 10%;
    }



    #turtle-beach-img {
        margin: auto;
    }
    
    #rainforest-img {
        transform: translate(0%, 25%);
        margin: auto;
    }

    #volcano-img {
        transform: translate(-45%, 50%);
    }

    #activities-bottom img.merriton-landing-img {
        max-height: 30vh;
        max-width: 40vw;
        transform: translate(120%, 0%);
    }

    #activities-bottom-grid img {
        max-width: 40vw;
        max-height: 20vh;
        margin-left: 5%;
    }

    #helicopter-img {
        transform: translate(0%, 20%);
    }




